# Python / Django
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos gerados
*.log
*.pot
*.pyc
*.cache
certificados_emitidos.json
*.png
*.pdf
*.csv